/* body{
  overflow: hidden;
} */
.animation{
    /* height: 90vh; */
    width: 120%;  
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    /* transform: translate(-50%, -50%); */
    animation: zoom_out 3s linear infinite;
  }
  @keyframes zoom_out{
    100%{
      width: 100%;
    }
  }
  .img1, .img2, .img3, .img4{
    height: 90vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  } 
  .img1{
    animation: movingImg1 12s linear infinite;
  }
  .img2{
    animation: movingImg2 12s linear infinite;
  }
  .img3{
    animation: movingImg3 12s linear infinite;
  }
  .img4{
    animation: movingImg4 12s linear infinite;
  }
  @keyframes movingImg1{
    0%{
      visibility: visible;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: visible;
    }
  }
  @keyframes movingImg2{
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: visible;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: hidden;
    }
  }
  @keyframes movingImg3{
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: visible;
    }
    100%{
      visibility: hidden;
    }
  }
  @keyframes movingImg4{
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: visible;
    }
  }